@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Eagle+Lake&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    /* Dimensions */ 
    --width_full: 100%;
    --width-12col: 1200px;

    /* Grid settings */ 
    --grid_gap: 10px;
    --padding_default: 20px;

    /*Color*/
    --background_color_navigation: #8FBFA099;
    --clicked_color_navigation: #406AA2;
    --menu_color_navigation: #E1EDF1;
    --background_color_green: #214830;
    --ticket_font_color: #511100;
    --ticket_button_color: #F5F5F5;
    --headline_hero_color: #000000;
    --white_color: #FFFFFF;
}


/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

body, html{
    width: var(--width_full);
    font-family: ;
    position: relative; 
    height: 100%;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid_gap);
    width: var(--width_full);
    flex: 1;
    row-gap: 0;
}

.navigation, .hero, .image-section, .footer{
    width: var(--width_full)
}


/*navigation*/
.navigation{
    background-color: var(--background_color_navigation);
    padding:10px 0 10px 0;
    position: absolute;
    z-index:10;
    width: var(--width_full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
}

.navigation_width_setting {
    width: var(--width-12col);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: flex;
    align-items: center;
}

.menu_logo img{
    max-width: 250px;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-container ul{
    display: flex;
    list-style-type: none;
}

.menu-container a{
    padding: 0 30px;
    text-decoration: underline;
    font-family: 'Afacad';
    color: var(--menu_color_navigation);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 1px 1px 0 black;
}

.clicked {
    color: var(--clicked_color_navigation) !important;
    font-weight: 700;
}

/*header area*/
.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    background: linear-gradient(to top, var(--menu_color_navigation), transparent);
}

.hero_text {
    position: absolute;
    top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width-12col);
    left: 50%;
    transform: translate(-50%);
    padding-right: 15%;
    text-shadow: 
    -2px -2px 0 var(--white_color),
     2px -2px 0 var(--white_color),
    -2px  2px 0 var(--white_color),
     2px  2px 0 var(--white_color);
}

.hero_text h2{
    font-family: 'Eagle Lake';
    font-size: 96px;
    font-weight: 400;
    color: var(--headline_hero_color);
    line-height: 1;
    padding-right: 25%;
    line-height: 55px;
}

.hero_text h1{
    font-family: 'Eagle Lake';
    font-size: 128px;
    font-weight: 400;
    color: var(--headline_hero_color);
    line-height: 1;
}

.hero_text h1 span {
    padding-left: 34%;
}

.hero_text h3 {
    font-family: 'Eagle Lake';
    font-size: 32px;
    font-weight: 400;
    color: var(--headline_hero_color);
    display: flex;
    justify-content: center;
    letter-spacing: 12px;
    padding-top: 2%;
    padding-left: 17%;
}

/*content invite area*/
.invite_area {
    background-color: var(--menu_color_navigation);
    position: relative;
}

.invite_area img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.ticket_details {
    position: absolute;
    top: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ticket_details h6 {
    font-family:'Eagle Lake';
    font-size: 26px;
    font-weight: 400;
    color: var(--ticket_font_color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.ticket_details h6 span {
    font-family: 'Eagle Lake';
    font-size: 18px;
    font-weight: 400;
    color: var(--ticket_font_color);
}

.ticket_details_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ticket_details_column1 {
    grid-column: 1;
}

.ticket_details_column2 {
    grid-column: 2/4;
    padding-left: 30px;
}

.ticket_details_column1 p, .ticket_details_column2 p {
    font-family: 'Afacad';
    font-size: 16px;
    font-weight: 400;
    color: var(--ticket_font_color);
}

.ticket_details_column1 p span, .ticket_details_column2 p span {
    font-family: 'Afacad';
    font-size: 16px;
    font-weight: 700;
    color: var(--ticket_font_color);
}

.ticket_details_button {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.ticket_details_button button {
    background-color: var(--ticket_font_color);
    border-radius: 10px;
    height: 42px;
    width: 170px;
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.ticket_details_button button a {
    font-family: 'Afacad';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--ticket_button_color) ;
    text-decoration: none;
}

/*quote area*/

.quote_area{
    background-color: var(--menu_color_navigation);
    padding: 50px 0 50px 0;
}

.quote_area img {
    width: var(--width-12col);
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.quote_area p {
    font-family: 'Eagle Lake', cursive;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    text-shadow: 
    -2px -2px 0 var(--white_color),
     2px -2px 0 var(--white_color),
    -2px  2px 0 var(--white_color),
     2px  2px 0 var(--white_color);
}

/*video area*/
.video_area {
    width: 100%;
    height: 620px;
    background-color:var(--background_color_green) ;
}
/*footer area*/
.footer_image {
    background-color: var(--menu_color_navigation);
    position: relative;
    width: 100%;
    background-image: url('../images/footer.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 450px;
}

.footer_info{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid_gap); 
    width: var(--width-12col);
    height: 40%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.musikhuset {
    height: 56px;
    max-height: 56px;
    width: auto;
    grid-column: 1/3;
}

.skarn {
    height: 45px;
    max-height: 45px;
    width: auto;
    grid-column: 3/6;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 126px;
    background: var(--white_color);
    grid-column: 7/7;
}

.footer_info_socials {
    grid-column: 8/10;    
    display: flex;
    flex-direction: column;
}

.footer_info_socials_facebook a, .footer_info_socials_instagram a, .footer_info_socials_website a{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    text-decoration: none;
}

.footer_info_socials_facebook p, .footer_info_socials_instagram p, .footer_info_socials_website p {
    padding-left: 10px;
    font-family: 'Afacad';
    font-size: 15px;
    font-weight: 500;
    color: var(--clicked_color_navigation)
}

.footer_info_socials_facebook svg, .footer_info_socials_instagram svg, .footer_info_socials_website svg {
    color: var(--clicked_color_navigation);
    max-height: 30px;
} 

.footer_info_button {
    grid-column: 10/13;
}

.footer_info_button button {
    background-color: var(--clicked_color_navigation);
    border-radius: 10px;
    height: 45px;
    width: 250px;
    border: none;
}

.footer_info_button button a {
    font-family: 'Afacad';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--ticket_button_color) ;
    text-decoration: none;
}