@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Eagle+Lake&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    /* Dimensions */ 
    --width_full: 100%;
    --width-12col: 1200px;

    /* Grid settings */ 
    --grid_gap: 10px;
    --padding_default: 20px;

    /*Color*/
    --background_color_navigation: #8FBFA099;
    --clicked_color_navigation: #406AA2;
    --menu_color_navigation: #E1EDF1;
    --background_color_green: #214830;
    --ticket_font_color: #511100;
    --ticket_button_color: #F5F5F5;
    --headline_hero_color: #000000;
    --white_color: #FFFFFF;
    --popup_navigation: #9CC5AA;
    --footer_color: #A8C5D8;
}


/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #E1EDF1;

}

body, html{
    width: var(--width_full);
    /* font-family: ; */
    position: relative; 
    height: 100%;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid_gap);
    width: var(--width_full);
    flex: 1;
    row-gap: 0;
}

.navigation, .hero, .image-section, .footer{
    width: var(--width_full)
}


/*navigation*/
.navigation{
    background-color: var(--background_color_navigation);
    padding:10px 0 10px 0;
    position: absolute;
    z-index:10;
    width: var(--width_full);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
}

.navigation_width_setting {
    width: var(--width-12col);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: flex;
    align-items: center;
}

.menu_logo img{
    max-width: 250px;
}

.links_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links_container a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--menu_color_navigation);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Afacad';
    text-shadow: 1px 1px 0 black;
}

.links_container a:hover {
    color: var(--clicked_color_navigation);
}

.links_container svg{
    color: var(--headline_hero_color);
}

#sidebar-active{
    display: none;
}

.open_sidebar_button, .close_sidebar_button {
    display: none;
}

.clicked {
    color: var(--clicked_color_navigation) !important;
    font-weight: 700;
}

.headline_info_socials {
    display: flex;
    flex-direction: row;
}
.headline_info_socials_facebook, .headline_info_socials_instagram {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.headline_info_socials_facebook svg, .headline_info_socials_instagram svg {
    color: var(--clicked_color_navigation);
    max-height: 30px;
}

/*header area*/
.hero {
    position: relative;
    overflow: hidden;
}

.desktop_only {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.mobile_only {
    display: none;
}

.hero::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    background: linear-gradient(to top, var(--menu_color_navigation), transparent);
}

.hero_text {
    position: absolute;
    top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width-12col);
    left: 50%;
    transform: translate(-50%);
    padding-right: 15%;
    text-shadow: 
    -2px -2px 0 var(--white_color),
     2px -2px 0 var(--white_color),
    -2px  2px 0 var(--white_color),
     2px  2px 0 var(--white_color);
}

.hero_text h2{
    font-family: 'Eagle Lake';
    font-size: 96px;
    font-weight: 400;
    color: var(--headline_hero_color);
    line-height: 1;
    padding-right: 25%;
    line-height: 55px;
}

.hero_text h1{
    font-family: 'Eagle Lake';
    font-size: 128px;
    font-weight: 400;
    color: var(--headline_hero_color);
    line-height: 1;
}

.hero_text h1 span {
    padding-left: 34%;
}

.hero_text h3 {
    font-family: 'Eagle Lake';
    font-size: 32px;
    font-weight: 400;
    color: var(--headline_hero_color);
    display: flex;
    justify-content: center;
    letter-spacing: 12px;
    padding-top: 2%;
    padding-left: 17%;
}

/*content invite area*/
.invite_area {
    background-color: var(--menu_color_navigation);
    position: relative;
}

.mobile_and_desktop_only {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.mobile_smaller {
    display: none;
}

.ticket_details {
    position: absolute;
    top: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ticket_details h6 {
    font-family:'Eagle Lake';
    font-size: 26px;
    font-weight: 400;
    color: var(--ticket_font_color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.ticket_details h6 span {
    font-family: 'Eagle Lake';
    font-size: 18px;
    font-weight: 400;
    color: var(--ticket_font_color);
}

.ticket_details_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ticket_details_column1 {
    grid-column: 1;
}

.ticket_details_column2 {
    grid-column: 2/4;
    padding-left: 30px;
}

.ticket_details_column1 p, .ticket_details_column2 p {
    font-family: 'Afacad';
    font-size: 16px;
    font-weight: 400;
    color: var(--ticket_font_color);
}

.ticket_details_column1 p span, .ticket_details_column2 p span {
    font-family: 'Afacad';
    font-size: 16px;
    font-weight: 700;
    color: var(--ticket_font_color);
}

.ticket_details_button {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.ticket_details_button button:hover, .footer_info_button button:hover {
    background-color: var(--headline_hero_color);
}

.ticket_details_button button {
    background-color: var(--ticket_font_color);
    border-radius: 10px;
    height: 42px;
    width: 170px;
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket_details_button button a {
    font-family: 'Afacad';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--ticket_button_color) ;
    text-decoration: none;
}

/*quote area*/

.quote_area{
    background-color: var(--menu_color_navigation);
    padding: 50px 0 50px 0;
}

.quote_area img {
    width: var(--width-12col);
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.quote_area p {
    font-family: 'Eagle Lake', cursive;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 6px;
    text-shadow: 
    -2px -2px 0 var(--white_color),
     2px -2px 0 var(--white_color),
    -2px  2px 0 var(--white_color),
     2px  2px 0 var(--white_color);
}

/*video area*/
.video_area {
    width: 100%;
    height: 620px;
    background-color:var(--background_color_green) ;
}
/*footer area*/
.footer_image {
    position: relative;
    width: 100%;
    height: 440px;
    background-image: url('../images/footer.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.footer_info{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid_gap); 
    width: var(--width-12col);
    height: 40%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.footer_info_logos {
    display: flex;
    align-items: center;
    gap: 40px;
    grid-column: 1/6;
}

.musikhuset {
    height: 56px;
    max-height: 56px;
    width: auto;
    grid-column: 1/3;
}

.skarn {
    height: 45px;
    max-height: 45px;
    width: auto;
    grid-column: 3/6;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 126px;
    background: var(--white_color);
    grid-column: 7/7;
}

.footer_info_socials {
    grid-column: 8/10;    
    display: flex;
    flex-direction: column;
}

.footer_info_socials_facebook a, .footer_info_socials_instagram a, .footer_info_socials_website a{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    text-decoration: none;
}

.footer_info_socials_facebook p, .footer_info_socials_instagram p, .footer_info_socials_website p {
    padding-left: 10px;
    font-family: 'Afacad';
    font-size: 15px;
    font-weight: 500;
    color: var(--clicked_color_navigation)
}

.footer_info_socials_facebook svg, .footer_info_socials_instagram svg, .footer_info_socials_website svg {
    color: var(--clicked_color_navigation);
    max-height: 30px;
} 

.footer_info_button {
    grid-column: 10/13;
}

.footer_info_button button {
    background-color: var(--clicked_color_navigation);
    border-radius: 10px;
    height: 45px;
    width: 250px;
    border: none;
}

.footer_info_button_donate {
    display: none;
}

.footer_info_button button a {
    font-family: 'Afacad';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--ticket_button_color) ;
    text-decoration: none;
}

.footer_for_responsive {
    display: none;
}

/* About Page */


/* contact page */
.contact_about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;     
    margin: 0 auto; 
    padding: 130px 0 20px 0;       
    gap: 20px;
    align-items: center;
}

.about_text {
    grid-column: 1 / span 12;
    text-align: center;
}

.about_text h2 {
   font-family: 'Eagle Lake';
    font-size: 50px;
    font-weight: 400;
    color: var(--headline_hero_color);
    margin: 0;
}

.text_about_block {
   grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    font-family: 'Afacad';
}

/* carousel section */
.photo_carousel {
    width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}

.photo_carousel input {
    display: none;
}

.photo_carousel_inside {
    width: 500%;
    display: flex;
    transition: 1s;
}

.photo_carousel_item {
    width: 20%;
    padding: 50px;
}

.photo_carousel_item img {
    width: 600px;
    height: auto;
    border-radius: 20px;
}

#photo1:checked ~ .photo_carousel_inside {
    transform: translateX(0%);
}

#photo2:checked ~ .photo_carousel_inside {
    transform: translateX(-20%);
}

#photo3:checked ~ .photo_carousel_inside {
    transform: translateX(-40%);
}

#photo4:checked ~ .photo_carousel_inside {
    transform: translateX(-60%);
}

#photo5:checked ~ .photo_carousel_inside {
    transform: translateX(-80%);
}
.overlay {
    background-color: #E1EDF1;
    width: 2800px ; 
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.left_overlay {
    left: 0;
    transform: translateX(-100%); 
}

.right_overlay {
    right: 0;
    transform: translateX(100%);
}

.arrow {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    font-size: 30px;
    width: 30px;
    height: 60px;
    border-radius: 5px;
    display: none; 
    padding-top: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
}


.arrow.left { left: 10px; }
.arrow.right { right: 10px; }

.arrow:hover {
    background-color: var(--clicked_color_navigation);
    width: 40px;
    height: 70px;
    line-height: 48px;
    text-align: center;
}


#photo1:checked ~ .arrow_left_photo1, #photo1:checked ~ .arrow_right_photo1 {
    display: block;
}
#photo2:checked ~ .arrow_left_photo2, #photo2:checked ~ .arrow_right_photo2 {
    display: block;
}
#photo3:checked ~ .arrow_left_photo3, #photo3:checked ~ .arrow_right_photo3 {
    display: block;
}
#photo4:checked ~ .arrow_left_photo4, #photo4:checked ~ .arrow_right_photo4 {
    display: block;
}
#photo5:checked ~ .arrow_left_photo5, #photo5:checked ~ .arrow_right_photo5 {
    display: block;
}



.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dots label { 
    background-color: #d3d2d2;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    border-radius: 7px;
}

#photo1:checked ~ .dots .dot1,
#photo2:checked ~ .dots .dot2,
#photo3:checked ~ .dots .dot3,
#photo4:checked ~ .dots .dot4,
#photo5:checked ~ .dots .dot5 {
    background-color: var(--clicked_color_navigation);
}



/* donation section */

.section_breaker img {
display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto; 
    padding: 10px  0;       
    gap: 20px;
    align-items: center;     
}

.about_text_donation {
    grid-column: 1 / span 12;
    text-align: center;
}

.about_text_donation h2 {
   font-family: 'Eagle Lake';
    font-size: 50px;
    font-weight: 400;
    color: var(--headline_hero_color);
    margin: 0;
}
.donation {
    display: grid;
     grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto; 
    gap: 20px;
}

.image_text_donation {
 grid-column: 2 / span 11;
 display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 80px;
  align-items: start;
}

.image_text_donation img {
grid-column: 2 / span 4; 
   width: 100%;
   max-width: 400px;
    height: auto;
    display: block; 
}

.text_about_block_donation {
    grid-column: 6/ span 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    font-family: 'Afacad';
    padding: 80px 0 30px 0;
}

.dragon_text {
    grid-column: 2 / span 4;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.dragon_text img {
    
    width: 100%;
    height: auto;
    display: block;
}

.donation_text_dragon {
    text-align: center;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    flex-direction: column;   
    gap: 10px;

}

.donation_text_dragon h3 {
      font-family: 'Eagle Lake';
    font-size: 16px;
    font-weight: 400;
    color: var(--ticket_font_color);
}

.donation_text_dragon_button {
     display: flex;
    justify-content: center;
}

.donation_text_dragon_button button {
     background-color: var(--ticket_font_color);
    border-radius: 5px;
    height: 32px;
    width: 170px;
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.donation_text_dragon_button button a {
  font-family: 'Afacad';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--ticket_button_color) ;
    text-decoration: none;
}

.donation_text_dragon_button button:hover {
    background-color: var(--headline_hero_color);
}

/* carousel 2 */

.carousel_text_image {
    width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}

.carousel_text_image input { 
    display: none; 
}

.carousel_text_image_inside {
  display: flex;
  flex-direction: row;
  width: 700%;
  transition: 1s;
}

.carousel_block {
display: flex;
align-items: center;
gap: 20px;
width: 50%;
padding: 90px;
box-sizing: border-box;
}

.carousel_block img {
 width: 130px;
 height: auto;
}

.carousel_text {
  width: 90%;
}

.carousel_text h3 {
font-weight: 1000;
  font-size: 30px;
    font-family: 'Afacad';
}

.carousel_text p {
font-size: 25px;
    font-family: 'Afacad';
}

#block_a:checked ~ .carousel_text_image_inside { transform: translateX(0%); }
#block_b:checked ~ .carousel_text_image_inside { transform: translateX(-14%); }
#block_c:checked ~ .carousel_text_image_inside { transform: translateX(-28%); }
#block_d:checked ~ .carousel_text_image_inside { transform: translateX(-42%); }
#block_e:checked ~ .carousel_text_image_inside { transform: translateX(-56%); }
#block_f:checked ~ .carousel_text_image_inside { transform: translateX(-70%); }
#block_g:checked ~ .carousel_text_image_inside { transform: translateX(-84%); }



#block_a:checked ~ .arrow_a,
#block_b:checked ~ .arrow_b,
#block_c:checked ~ .arrow_c,
#block_d:checked ~ .arrow_d,
#block_e:checked ~ .arrow_e,
#block_f:checked ~ .arrow_f,
#block_g:checked ~.arrow_g {
  display: block;
}

.carousel__image_text_dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 5px;
}

.carousel__image_text_dots label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d3d2d2;
}

#block_a:checked ~ .carousel__image_text_dots .dot_a,
#block_b:checked ~ .carousel__image_text_dots .dot_b,
#block_c:checked ~ .carousel__image_text_dots .dot_c,
#block_d:checked ~ .carousel__image_text_dots .dot_d,
#block_e:checked ~ .carousel__image_text_dots .dot_e,
#block_f:checked ~ .carousel__image_text_dots .dot_f,
#block_g:checked ~ .carousel__image_text_dots .dot_g {
  background: #406AA2;
}


/* tickets page */

.top_area {

    margin-top: 120px;
}

/* venue area */

.venue_text {
    
    grid-column: 1 / span 12;
    text-align: center;

}

.venue_text h2 {
  
    font-family: 'Eagle Lake';
    font-size: 50px;
    font-weight: 400;
    color: var(--headline_hero_color);
    margin: 0;
}

.venue_container {
    display: flex;
    /* ... other styles ... */
}

.map_section {
    flex: 0.55; /* Takes up approximately 55% of the card's width */
    padding: 30px;
}

.details_section {
    flex: 0.45; /* Takes up approximately 45% of the card's width (1.0 - 0.55 = 0.45) */
    /* ... other styles ... */
}

.map_pic img {
    height: 427px;
    width:422px;
}


/* .venue_info_container {} */

.venue_info_container h2 {
 font-family: 'Eagle Lake';
    font-size: 36px;
    font-weight: 400;
    color: var(--headline_hero_color);
    margin: 0;
}





/*responsive start*/
@media (max-width: 675px) {
    .container { 
        width: 100%; 
    }

    .navigation_width_setting{
        width: 100%;
        padding: 0 var(--padding_default);
    }

    .navigation.fixed {
        max-height: 80px;
        position: static;
    }

    .menu_logo img {
        max-width: 170px;
        height: auto;
    }

    .links_container{
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 10;
        width: 150px;
        height: 350px;
        background-color: var(--popup_navigation);
        transition: 0.75s ease-in-out;
    }

    .links_container a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-bottom: 35px;
        font-size: 24px;
        font-family: 'Afacad';
        text-shadow: 1px 1px 0 black;
        justify-content: flex-end;
    }

    .open_sidebar_button, .close_sidebar_button{
        display: block;
        padding: 25px 0px 22px 0;
        justify-content: flex-end;
    }

    .close_sidebar_button {
        padding-right: var(--padding_default);
    }

    #sidebar-active:checked ~ .links_container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /*header start*/
    .desktop_only {
        display: none;
    }

    .mobile_only{
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .hero_text {
        width: 100%;
        left: 0;
        transform: none;
        padding: 0 var(--padding_default);
        top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hero_text h2 {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-right: 25%;
        line-height: 1;
    }

    .hero_text h1 {
        font-size: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero_text h1 span {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 45%;
    }

    .hero_text h3 {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 20px;
    }

     .hero::after {
        height: 120px;
    }
    /*header end*/
    /*invite area start*/
    .ticket_details{
        width: 100%;
        padding: 0 var(--padding_default);
    }

    .ticket_details_column2 {
        padding: 0;
        padding-left: 10px;
    }

    .ticket_details h6 {
        font-size: 13px;
        padding-bottom: 0;
    }

    .ticket_details h6 span {
        font-size: 10px;
    }

    .ticket_details_column1 p, .ticket_details_column2 p,
    .ticket_details_column1 p span, .ticket_details_column2 p span{
        font-size: 10px;
    }

    .ticket_details_button button {
        width: 115px;
        height: 25px;
    }

    .ticket_details_button button a {
        font-size: 10px;
    }
    /*invite area end*/
    /*quote area end*/
    .quote_area img {
        width: 90%;
    }

    .quote_area p {
        font-size: 24px;
        letter-spacing: 0;
    }
    /*quote area end*/
    /*footer area end*/
    .footer_info{
        width: 100%;
        top: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .line {
        height: 200px;
        width: 3px;
    }

    .footer_image {
        background-image: url('../images/mobil_footer.png');
        position: relative;
        width: 100%;
        height: 440px;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .footer_for_responsive {
        display: block;
        width: 100%;
        height: 150px;
        background-color: var(--footer_color);
    }

    .footer_info_logos {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .footer_info_button_donate {
        display: block;
        background-color: var(--clicked_color_navigation);
        border-radius: 10px;
        height: 45px;
        width: 250px;
        border: none;
    }

    .footer_info_button_donate button {
        background-color: var(--clicked_color_navigation);
        border-radius: 10px;
        height: 45px;
        width: 250px;
        border: none;
    }

    .footer_info_button_donate button a {
        font-family: 'Afacad';
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color:var(--ticket_button_color) ;
        text-decoration: none;
    }
    
    .footer_info2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-left: 20px;
    }
    /*footer area end*/
    }
    
@media (max-width: 475px) {
    /*header area start*/
    .hero_text h2 {
        font-size: 32px;
    }

    .hero_text h1 {
        font-size: 48px;
    }

    .hero_text h1 span {
        font-size: 32px;
    }

    .hero_text h3 {
        font-size: 8px;
        padding-top: 10px;
        letter-spacing: 7px;
    }

    .hero::after {
        height: 70px;
    }
    /*header area end*/
    /*invite area start*/
    .mobile_and_desktop_only{
        display: none;
    }

    .mobile_smaller {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        position: relative;  
    }

    .ticket_details h6 {
        font-size: 10px;
    }

    .ticket_details h6 span {
        font-size: 8px;
    }

    .ticket_details_column1 p, .ticket_details_column2 p,
    .ticket_details_column1 p span, .ticket_details_column2 p span {
        font-size: 8px;
    }

    .ticket_details_button button {
        width: 100px;
        height: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ticket_details_button button a {
        font-size: 8px;
    }
    /*invite area end*/
    /*quote area start*/
    .quote_area p {
        font-size: 16px;
    }
    /*quote area end*/
    /*footer area start*/
    .line {
        display: none;
    }

    .footer_for_responsive {
        height: 300px;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 115%;
    }

    .footer_info_logos {
        padding: 0;
        gap: 30px;
    }

    .footer_info2 {
        padding: 0;
        gap: 30px;
        padding-top: 20px;
    }

    /*footer area end*/
    }
/*responsive end*/


