@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Eagle+Lake&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    /* Dimensions */ 
    --width_full: 100%;
    --width-12col: 1200px;

    /* Grid settings */ 
    --grid_gap: 10px;
    --padding_default: 20px;

    /*Color*/
    --background_color_navigation: #8FBFA099;
    --clicked_color_navigation: #406AA2;
    --menu_color_navigation: #E1EDF1;
    --background_color_green: #214830;
}


/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

body, html{
    width: var(--width_full);
    font-family: ;
    position: relative; 
    height: 100%;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid_gap);
    width: var(--width_full);
    flex: 1;
    row-gap: 0;
}

.navigation, .hero, .image-section, .footer{
    width: var(--width_full)
}


/*navigation*/
.navigation{
    background-color: var(--background_color_navigation);
    padding:10px 0 10px 0;
    position: absolute;
    z-index:10;
    width: var(--width_full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation_width_setting {
    width: var(--width-12col);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: flex;
    align-items: center;
}

.menu_logo img{
    max-width: 250px;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-container ul{
    display: flex;
    list-style-type: none;
}

.menu-container a{
    padding: 0 10px;
    text-decoration: none;
    color: var(--background_color_light);
    text-transform: uppercase;
    
}
.menu-container ul li {
    border-right: 1px solid var(--background_color_light);
}
.menu-container ul :last-child{
   border-right: none;

}
.menu-container a:hover{
    color: var(--primary_color);
} 

.clicked {
    color: var(--primary_color) !important
}

/*header area*/
.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    background: linear-gradient(to top, var(--menu_color_navigation), transparent);
}

/*content invite area*/
.invite_area {
    background-color: var(--menu_color_navigation);
}

.invite_area img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

/*quote area*/

.quote_area{
    background-color: var(--menu_color_navigation);
    padding: 50px 0 50px 0;
}

.quote_area img {
    width: var(--width-12col);
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.quote_area p {
    font-family: 'Eagle Lake', cursive;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}

/*video area*/
.video_area {
    width: 100%;
    height: 620px;
    background-color:var(--background_color_green) ;
}
/*footer area*/
.footer {
    background: url("../images/footer.png")
}